node_modules
.env
dist/package-lock.json
dist/package.json
dist/public/3rdpartylicenses.txt
dist/public/prerendered-routes.json
dist/public/browser/favicon.ico
dist/public/browser/index.html
dist/public/browser/main-NBNAFMKI.js
dist/public/browser/polyfills-B6TNHZQ6.js
dist/public/browser/styles-LUH25T7D.css
dist/src/app.js
dist/src/server.js
dist/src/config/db.js
dist/src/controllers/authController.js
dist/src/controllers/taskController.js
dist/src/middlewares/authMiddleware.js
dist/src/models/Task.js
dist/src/models/User.js
dist/src/routes/authRoutes.js
dist/src/routes/taskRoutes.js
Github link.pdf
